In [10]:
from sqlalchemy import create_engine
import pandas as pd

# URL de conexión
DATABASE_URL = "mysql+pymysql://root:1234@localhost:3306/company"

# Crear el motor de conexión
engine = create_engine(DATABASE_URL)

# Leer la tabla "hired_employees" como DataFrame
df = pd.read_sql("SELECT * FROM hired_employees", con=engine)

# Mostrar resultados
df.head()

   id                      name            datetime  department_id  job_id
0   1         Natica Barbaccini 2023-10-13 16:02:12             11     123
1   2               Lyetu Ehbjf 2024-11-22 00:00:31              8      61
2   3        Langwana Batchinou 2021-08-14 02:13:19              1      60
3   4  Üzeyirin Rojas Lostaunau 2023-09-01 11:13:19             11      65
4   5            Alzalex Pudhar 2023-11-16 04:43:56              3     169

In [12]:
df.to_csv("archivo.csv", index=False, header=False)